<h1>Bienvenue, <%= current_user.username %></h1>
<div class="container-profile">
<i class="fa-regular fa-leaf" style="color: #9C9F78;"></i>
<i class="fa-regular fa-leaf" style="color: #9C9F78;"></i>
<i class="fa-regular fa-leaf" style="color: #9C9F78;"></i>
<i class="fa-regular fa-leaf" style="color: #9C9F78;"></i>
<i class="fa-regular fa-leaf" style="color: #9C9F78;"></i>
</div>


<%= render "shared/navbar" %>
