<div class="favorite_container">
  <div class="bloc">
      <div class="icones-carte">
      <%= render "shared/icone-recycle" %>
      </div>
    <div class="infos-map">
      <div class="favorite_title-2">
        Point de collecte
      </div>
    <div class="subinfos-1">
      Type de déchet
    </div>
        <div class="subinfos-2">
      Date
    </div>
  </div>
</div>
    </div>
