<div class="container-recycle-2">

<div class="bloc-align">
<%= render "shared/icone-recycle" %>
<div class='infos'>
<p class="titre-carte"><strong>Cy'Clopes</strong></p>
<hr/>
<%# <p class="sous-titre-carte"> <i class="fa-solid fa-location-dot" style="color: #2b2b28;"></i>Adresse à insérer</p> %>
<hr/>
<p class="sous-titre-carte">L'association Cy'Clopes recycle les mégots depuis 1687 grace à une technique révolutionnaire. Vos filtres se transforment en compléments alimentaires !</p>
<h/>
<p class="sous-titre-carte">Minimum de 10kg de mégots, association ouverte de 9h à 10h le premier mardi du mois des années bisextiles.</p>
</div>

<button class="btn-primary details">J'y vais</button>
<button class="btn-primary secondary">J'ai recyclé</button>
</div>
</div>
