<div class="container-recycle-2">

<div class="bloc-align">
<%= render "shared/icone-recycle" %>
<div class='infos'>
<p class="titre-carte"><strong>Point de collecte à insérer</strong></p>
<hr>
<p class="sous-titre-carte"> <i class="fa-solid fa-location-dot" style="color: #2b2b28;"></i>Adresse à insérer</p>
<hr>
<p class="sous-titre-carte">Description à insérer</p>
<hr>
<p class="sous-titre-carte">Bon à savoir à insérer</p>
</div>

<button class="btn-primary">J'y vais</button>

</div>
</div>
