<div class="carte-impact-titre">
<p>Mon impact</p>
</div>
<div class="favorite_container">
  <div class="bloc">
      <div class="icones-carte">
      <%= render "shared/icone-impact" %>
      </div>
    <div class="infos-map">
      <div class="favorite_title-2">
        Distance
      </div>
    <div class="subinfos-1">
      x km parcourus
    </div>
  </div>
</div>
    </div>
