<div class="container">
  <div class="image-navbar">
  <%= image_tag("logo1.png", width:'90%') %>
  </div>
  <div class="liens-navbar">
    <%= render "shared/icone-coeur" %>
    <%= render "shared/icone-profil" %>
  </div>
</div>
