.bloc {
  display: flex;
  align-items: center;
  margin-left: 8px;
  margin-right: 8px;
}

.infos-map h2 {
  font-weight: 700;
  font-size: 12px;
  margin-left: 10px;
  color: $gray;
}

.infos-map p {
  margin: -7px 0px 0px 10px;
  color: $gray;
}

.infos-map {
padding-top: 15px;
padding-bottom: 15px;
}

.mapboxgl-popup-content {
  border-radius: 16px !important;
  background-color: white !important;
  padding: 8px 12px !important;
  box-shadow: $box-shadow !important;
}

.mapboxgl-popup-close-button {
margin: 3px;
color: #9898989a;
}
