<div class="min-height">

<%= render "shared/banner" %>

<%= render "shared/card_last_recycle" %>
<h1 class="titre-accueil">Chercher un point de collecte :</h1>
<%= render "shared/recherche_opaque" %>

<%# <%= render "shared/icone-profil" %>
</div>
<div class="clear"></div>
