<div class="min-height">

<%= render "shared/banner" %>

<%= render "shared/card_last_recycle" %>
<h1>Je veux recycler :</h1>
<%= render "shared/recherche_opaque" %>

<%# <%= render "shared/icone-profil" %>
</div>
