.class-impact-titre h1 {
  padding-top: 20px;
}

.subinfos-2 {
  padding-bottom: 5px;
}


.badge-cat {
  display: flex;
  align-items: center;
  padding: 15px;
}

.badge-name {
  margin-left: 5px;
  margin-bottom: 0px;
  font-size: 14px;
}

.badge-title {
  padding-left: 15px;
  padding-top: 20px;
  margin-bottom: -20px;
}

.titre-historique {
  margin: 15px;
}

.titre-historique-2 {
  margin: 15px 15px -15px 15px;
}

.image-badge {
  width: 12%;
}

.badge-count {
  font-size: 14px;
}
