.banner-container {
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.banner-container h2 {
  font-size: 20px;
  padding-top: 20px;
  margin: 0px;
}
