.btn-primary {
  text-decoration: none;
  background: $primary;
  color: white;
  padding: 4px 24px;
  border-radius: 50px;
  font-weight: 800;
  transition: color 0.3s ease;
  border: none;
  box-shadow: $box-shadow;
  margin-left: 135px;
}

.btn-primary:hover {
  background: #868966;
}


.btn-secondary {
  color: $primary;
  border: 1px solid $primary;
  padding: 4px 24px;
  border-radius: 50px;
  // font-weight: lighter;
  transition: color 0.3s ease;
  box-shadow: $box-shadow;
}

.btn-secondary:hover {
  color: #868966
}
.button {
  text-align: center;
  margin-top: 10px; /* Ajustez selon vos besoins */
  text-decoration: none;
  font-weight: 800;
  transition: color 0.3s ease;
  color: rgba(255, 255, 255, 0.7);

}
