.icone {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background-color: white;
}

.icone .fa-solid {
  width: 42px;
  height: 42px;
  color: $primary;
  text-align: center;
  vertical-align: middle;
}
