.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  box-shadow: $box-shadow;
  margin: 5px;
}

.circle .w-6 {
width: 70%;
padding-top: 5px;
}
