.circle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  box-shadow: $box-shadow;
  margin: 5px;

}

.icon-heart {
  width: 25px;
  height: 25px;
  border-radius: 50%;

  text-align:right;
  margin: 5px;
}

.circle .w-6 {
width: 75%;
padding-top: 6px;
}

.circle-green {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: $primary;
  text-align: center;
  box-shadow: $box-shadow;
  margin-bottom: 10px;
}

.fa-recycle {
  font-size: 30px;
  padding-top: 15px;
}

.circle-green-2 {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: $primary;
  text-align: center;
  box-shadow: $box-shadow;
}

.fa-location-dot {
  font-size: 25px;
  padding-top: 10px;
}

.fa-leaf {
  font-size: 30px;
  padding-top: 15px;
}
