.image-navbar {
  width: 35%;
}

.container-3 {
  display: flex;
  height: 70px;
  background-color: $light-gray;
  align-items: center;
  justify-content: space-between;
  position:fixed;
  top: 0;
  bottom: auto;
}

.liens-navbar {
  display: flex;
  size: 10px;
  align-items: flex-end;
  // justify-content: space-around;
}

// .min-height {
//   min-height: 100vh;
// }
