.image-navbar {
  width: 35%;
}

.container {
  display: flex;
  height: 70px;
  background-color: $light-gray;
  align-items: center;
  justify-content: space-between;
  position:fixed;
  bottom: 0;
  top: auto;

}

.liens-navbar {
  display: flex;
  size: 10px;
  align-items: flex-end;
  // justify-content: space-around;
}

.min-height {
  min-height: 100vh;
}

.navbar-top {
  top: 0;
  z-index: 2;
}
