// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #fff;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.container {
background: rgb(203,126,80);
background: linear-gradient(214deg, rgba(203,126,80,1) 0%, rgba(237,187,107,1) 100%);
width: 400px;
height: 400px;
}

.main-profile {
	background-color: white;
	height: 300px;
	width: 300px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
	border-radius: 3px;
}

.btn {
	text-decoration: none;
  color: #4A4A4A;
  border: 1px solid #826d56ff ;
  padding: 8px 24px;
  border-radius: 50px;
	font-weight: 600;
	color: #826d56ff;
	text-align: center;
	margin-top: 10px;
}

.buttons {
	display: grid;
	width: 50%;
}

.titles {
	color: #826d56ff;
	text-align: center;
}

.left-part {
	display: grid;
	justify-items: center;
}

.photo {
	overflow: hidden;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.photo img {
	width: 100%;
  height: auto;
  border-radius: 50%;
  display: block;
}

