<%= render "shared/collect_point_cards", place: place %>
<%= link_to place_favorites_path(place.id), data: {turbo_method: :post} do %>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Ajouter aux favoris</h5>
    </div>
  </div>
<% end %>
<p></p>
